/* ===== header du site ===== */
.header-site {
  position: relative;
  background-color: var(--header-bg-color);
  padding: 1.5em 2em;
  width: 100vw;
}

.header-site i
{
  font-size: x-large;
  display: none;
  color: var(--color-light);
  cursor: pointer;
}

.header-site .userPicter img{
  width: 5em;
  border-radius: 50%;
}

.header-site .register {
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
}

.header-site .register a {
  background-color: transparent;
  border: 0.1em solid ;
  border-radius: 0.2em;
  color: var(--link-button-color);

  height: max-content;
  padding: 1em 2em;
  cursor: pointer;
  text-decoration: none;
}

.header-site .register a:hover {
  background: var(--link-button-hover-bg-color);
  background: var(--link-button-hover-gradient-bg-color);

  color: var(--link-button-hover-color);
}

/* ===== Logo ===== */

.logo {
  padding-inline: 2em;
  margin-inline: auto;
}

.logo:hover {
  transition: 2s;
  filter: invert(50%) sepia(50%) saturate(7550%) hue-rotate(360deg) brightness(92%) contrast(95%);
}

.logo img {
  width: 3rem;
  margin-right: 0.2em;
}

.logo figcaption {
  font-size: 2em;
  color: white;
}

.logo span {
  color: var(--logo-arida-color);
  transition: 1s;
}

.logo pre {
  color: var(--logo-text-color);
}

@media (max-width: 50em) {
  .header-site
  {
    display: flex;
    align-items: center;
  }

  .header-site i
  {
    display: block;
    width: 25%;
    color: var(--logo-text-color);
  }

  .header-site i:last-child {
    display: flex;
    justify-content: flex-end;
  }

  .header-site .logo {
    width: 50%;
  }

  .logo img {
    width : 2rem
  }

  .logo pre {
    display: none;
  }

  .header-site .register {
    display: none;
  }
}

/* ===== End header du site ===== */

/* ===== Navigation version mobile  */

  .navmobile {
    display: none;
    width: 100vw;
    max-height: 0;
  }

  @media (max-width: 50em) {
    .navmobile {
      max-height: max-content;
      padding-inline: 1em;
      text-align: center;
      /* display: none; */
      background-color: var(--navigation-bg-color);
    }

    .navmobile a {  
    color: var(--color-light);
    font-weight: bold;
    }

    .navmobile li {
      padding-block: 1em;
      border-top: solid rgba(96, 108, 55, 0.5);
      border-width: 0.1rem;
      cursor: pointer;
      list-style: none;
    }
    .navmobile li:hover a{
      /* color: #f39d3c; */
      color: #ffc686;
    }
  }

/* ===== End Navigation version mobile  */

/* ===== Navigation du site ===== */
.navsite {
  padding: 1em 0em;
  width: 100vw;
  background-color: var(--navigation-bg-color);
  background: linear-gradient(90deg, rgba(193,18,31,1) 0%, rgba(31,122,140,1) 100%);
  position: sticky;
  top: 0;
  z-index: 2;
}

.navsite ul {
  width: 90%;
  margin: auto;
  justify-content: center;
}

.navsite li {
  list-style: none;
  padding-inline: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navsite li:hover a {
  transition: 0.3s;
  font-size: 1.1em;
  border-bottom: 0.2em solid;
}

.navsite form {
  margin-inline: 2em;
}

.navsite a {
  color: var(--color-light);
  text-decoration: none;
}

@media (max-width: 65em) {
  .navsite li {
    padding-inline: 0.8em;
  }
}

@media (max-width: 50em) {
  .navsite li {
    display: none;
  }
}

/* ===== End Navigation du site ===== */


/* ===== Drop down category product ===== */

.select-box {
  display: flex;
  width: 20rem;
  flex-direction: column;
  position: relative;
}

.select-box .options-container {
  background: var(--categorie-options-gradient-bg-color);
  /* backdrop-filter: blur(10px); */
  color: var(--color-light);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 0.8rem;
  overflow: hidden;

  box-shadow: 0em 0.1em 1em black;

  position: absolute;
  top: 4rem;
  z-index: 3;

  order: 1;
}

.selected {
  background-color: var(--categorie-bg-color);
  color: var(--color-dark);
  border-radius: 0.8rem;
  position: relative;
  order: 0;
  text-align: center;
}

.selected::before {
  content: "";
  background: url("../img/jarida-red.png");

  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  height: 100%;
  width: 0.8rem;
  left: 1em;
  /* center the logo image */
  top: 50%;
  transform: translateY(-35%);
}

.selected::after {
  content: "";
  background: url("../icon/arrow-down-sign-to-navigate.svg");

  filter: invert(54%) sepia(5%) saturate(8%) hue-rotate(319deg) brightness(91%)
    contrast(86%);

  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  height: 100%;
  width: 1.2rem;
  right: 1rem;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 15rem;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -1.1rem;
}

.select-box .options-container::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--scroll-categorie-options-bg-color);
  border-radius: 0 0.8rem 0.8rem 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-categorie-options-bg-color);
  border-radius: 0 0.8rem 0.8rem 0;
}

.select-box .option,
.selected {
  padding: 0.7rem 1.4rem;
  cursor: pointer;
}

.select-box .option:hover {
  background-color: var(--categorie-options-hover-bg-color);
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* ===== End Drop down category product ===== */
