*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
}

.logoFsr {
    display: block;
    margin-inline: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    grid-gap: 1em;
    padding:3em 1em;
    padding-top: 0;
}

.container img {
    height: 14em;
    width: 14em;
    border-radius: 50%;
    margin-inline: auto;
}

.videoFsr {
    grid-column:2/4;
}

.videoFsr > * { width: 98.5%; }

.infosFsr {
    grid-column:1/4;
    margin-left: 1em;
}