.container {
    width: 100%;
}

.container > nav {
    width: 13em;
    background-color: rgb(42, 42, 42);
    /* padding-left: 1em; */
    min-height: 100vh;
    position: relative;
}

.container > nav > * {
    position: fixed;
}

/* logo */
.container > nav .logo {
    top: 2em;
}

.container > nav h1 {
    background-color: var(--color-light);
    width: max-content;
    padding: 2em 0.1em;
    border-radius: 50%;
    color: black;
    margin-bottom: 2em;
    bottom: 1em;
    margin-inline: auto;
    margin-left: 0.5em;
}

.container >nav ul {
    margin-left: 0.5em;
    top: 13em;
    width: 13em;
}

.container > nav li {
    list-style: none;

}

.container > nav ul a {
    text-decoration: none;
    display: block;
    color: rgb(233, 233, 233);
    padding-bottom: 0.5em;
}

.container > nav ul a:hover {
    text-decoration: underline;
    color: var(--main-color-5);
}

/* display conetnt */
.container section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(184, 184, 184);
}

/* content */
.content {
    width: 95%;
}